.info {
  min-height: calc(35vh - 90px);
  background-color: #a243e8;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.info p {
  color: rgb(207, 207, 207);
}
.info div {
  width: 50%;
}
.info .bigO {
  margin-left: 10px;
}
.info .description {
  margin-left: 10px;
}
@media screen and (orientation: portrait) {
  .info {
    min-height: calc(40vh - 60px);
  }
}
