.combine {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
/* yeah not a good practice i know.. but whatever, eh? */
.container-slider {
  width: 60% !important;
  display: flex !important;
  flex-direction: column !important;
}
.container-input {
  width: 30% !important;
}
@media screen and (orientation: portrait) {
  .combine {
    flex-direction: column-reverse !important;
  }
  .container-input {
    width: 100% !important;
  }
  .container-slider {
    width: 100% !important;
  }
}
