@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  color: white;
}
body {
  overflow-x: hidden;
  background: linear-gradient(90deg, #e843c3, #e657ff);
}
::-webkit-scrollbar {
  background-color: #1c1e1f;
  color: #c5c1b9;
}
::-webkit-scrollbar-thumb {
  background-color: #2a2c2e;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #323537;
}
::-webkit-scrollbar-thumb:active {
  background-color: #3d4043;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
* {
  scrollbar-color: #2a2c2e #1c1e1f;
}
.MuiSlider-markLabel {
  color: white !important;
}
.MuiInput-underline::before {
  border-bottom: 1px solid white !important;
}
